@charset "utf-8";

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

summary::marker{
    font-size:0;
}

div{
    ::-webkit-scrollbar-track {
    border-radius: 0.125rem;
    background-color: lightgray;
}

    ::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 0.125rem;
}

    ::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: gray;
};

}

ul,li,ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

body {
    font-family: var(--font-a), sans-serif;
    line-height: 1.6;
    font-size: var(--size-ca);
    position: relative;
    /* background: var(--color-b); */
}

header {
    padding: 1rem 0;
}

section, body{
    background-color: var(--color-bb);
    /* background: #ccc; */
}

#container{
    max-width: var(--max-width);
    margin: 0 auto;
}