@charset "utf-8";
/* CSS Document */
/* Custom CSS for R9-420F_B */
/* General Styles */ 

section{
  position: relative;
  margin: 0 1.25rem;
  color: var(--color-w);
}

#container .a_duct > div {
  padding:0;
  padding-bottom: 2rem;
  /* border-bottom: 1px solid var(--color-b); */
}

section:nth-child(n+2) > div span + img,
.g_duct > div > span+div,
.f_duct > div > div,
.vozo,
.presset,
.j_duct > div > div{
  margin-top: calc(1rem + 1.25vw);
  border-radius:0.5rem;
}

section:nth-child(n+2) > div{
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  min-height: 16rem;
  padding: 2rem 0;
}
#container .rl_sdu ul li span{
  font-size: calc(0.5rem + 0.25vw);
}

.spx h2{
  border-bottom: 4px solid #fd1111;
  /* width: 100%; */
  display: inline-block;
  margin-bottom: 1rem;
}

section:nth-child(n+3) > div h2{
  font-size: calc(2.0rem + 1.25vw);
}

section:nth-child(n+3) > div > span
{
  font-size: calc(1.225rem + 0.25vw);
  width: 100%;
}

.g_duct > div > span+div img:first-child{
  width: 98%;
}

.x_sm{
    border-radius: 0.5rem;
    position: absolute;
    right: 0px;
    bottom: 3rem;
    width: 10%;
}

.g_duct > div > span+div{
  display: grid;
  position: relative;
}

.pduct > div{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.pduct > div img{
  border-radius:1rem;
}
.pduct div+div{
  position: absolute;
  top:0;
  width: 100%;
  padding: 1rem;
  align-items: center;
}
.pduct > div+div li{
  text-align:center;
}

.pduct > div+div img{
  width: 10%;
  scale: 0.8;
  min-width: 7rem;
}

.pduct > div+div h2{
  font-size: calc(2rem + 1.25vw);
}
.pduct > div+div h3{
  font-size: calc(2rem + 0.25vw);
  font-weight:400;
}

/* */


.a_duct{
  /* background-color: var(--color-b); */
  /* border-bottom: 1px solid var(--color-g); */
  height: calc(8rem + 0.25vw);
}

.a_duct > div{
  position: relative;
  background: #cccccc00;
  top: calc(-7rem + -0.75vw);
}

.a_duct > div > h1{
  font-size: calc(4rem + 1.25vw);
}

.a_duct > div > h3{
  font-size: calc(2rem + 1.25vw);
}

.c_duct img{
  /* background: #1d3045; */
  /* padding: calc(1rem + 0.25vw) calc(1rem + 0.25vw) 0; */
  /* background: #03001f; */
  /* background: linear-gradient(90deg, rgba(3, 0, 31, 1) 0%, rgba(0, 0, 92, 1) 50%, rgba(0, 4, 5, 1) 100%); */
}

.redline{
    border-left: 8px solid #ff0000;
    line-height: 0.6;
    margin-bottom: 0.825rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
  }

.rl_sdu{
  border-top: 1px solid #202020;
}

.rl_sdu div{
  overflow: hidden;
  /* max-height: 32rem; */
}

.rl_sdu img{
  position: relative;
  top: 0rem;
}

.w_duct img{
  display:block;
}

.w_duct ul > li:first-child{
  /* grid-row: span 2; */
  /* grid-column: span 2; */
}

.w_duct div + ul > li{
  background: #090909;
  padding: 2rem;
  border-radius: 0.5rem;
}

.w_duct div + ul{
  display:grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  gap: 2rem;
  /* margin-top: 2rem; */
}

.w_duct picture:nth-child(n+2){
  position:absolute;
}

.f_duct > div > div img,
.j_duct > div > div img{
  border-radius: 0.75rem;

}

.f_duct > div > div img:first-child{
  filter: saturate(0.6);
}

.f_duct > div > div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1.5rem;
  min-height: 0;
  /* padding: 1rem 0rem 0 0; */
  align-items: center;
  justify-items: center;
}

.spec > div:last-child{
  background:#ccc;
}

.spec{
  /* background: #4c4c4c; */
}

.spec h3{
  font-size:80%;
}

.spec h4{
  font-size:60%;
}

.spec > div:first-child{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 0.5rem;
  min-height: 0;
  padding: 1rem 0rem 0 0;
  align-items: center;
  justify-items: center;
  background: #fd11118a;
  /* border-radius: 1rem; */
  /* border-top: 1px solid var(--color-g); */
  /* border-bottom: 1px solid var(--color-g); */
  margin-top: calc(5rem + 0.25vw);
}

.spec > div:first-child label{
  display: flex;
  background-color: #6c6c6c;
  /* border-radius: 0.5rem; */
  /* margin: 0.5rem; */
  padding: 1.0rem;
  width: 100%;
}

#container .spx{
  background: var(--color-b);
  padding: 1rem;
}

.spec table tr > td:first-child{
  text-align: left;
  font-size: calc(0.725rem + 0.25vw);
  color: var(--color-w);
  padding: 0.5rem;
  width: 20%;
}

.spec table tr > td:last-child{
  font-size: calc(0.725rem + 0.25vw);
  color: var(--color-w);
  padding: 0.5rem;
  width: 80%;
  display:flex;
  flex-wrap: wrap;
}


.spec span div{
  display: none;
}

.hd_grid img {
  display:block;
}


.hd_grid > li:nth-child(3){
}

.hd_grid > li:nth-child(4){
  border: 4px solid #bb0000;
}

.hd_grid > li:nth-child(5){
  border: 4px solid #0020bb;
}

.hd_grid > li:last-child{
  border: 4px solid #3e009b;
}

.hd_grid{
  overflow: hidden;
}


.hd_grid li:nth-child(5) img{
  scale: 1.5;
}


.hd_grid li:last-child img{
  scale: 2;
}

.hd_grid li{
  overflow:hidden;
}

.hd_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr;
  gap: 1.5rem;
  min-height: 0;
  padding: 1rem 0rem 0 0;
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
}

#gr-x1{
  grid-template-columns: 1fr 1fr;
}

#gr-x1 li:last-child img{
  scale: 1.5; 
}

.vozo h5{
  position:absolute;
  left: 94%;
  bottom: -17px;
  background: #000000ad;
  padding: 0px calc(1rem + 0.25vw);
  display: inline-block;
  font-size: calc(1.5rem + 0.25vw);
  transform: translate(-50%,-50%);.;
  border-radius: 0.5rem;
}

.vozo{
  overflow: hidden;
  border: 3px solid #f10000;
  border-radius: 0;
  position: relative;
}


#gr-x1 li:nth-child(3){
  border: 4px solid #c9c9c9;
}

.zom2x{
  scale: 2.2;
}

.presset > ul > li > img{
  width:100%
}

  
.presset ul li{
  display:flex;
  margin-top: 0.5rem;
  border: 1px solid #848484;
}

.presset ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 0.5rem;
}


/* 2025-06-13ㅣR9-420Fㅣcus_a.css */