@charset "utf-8";

:root{
    --font-a: 'noto-sans-kr', 'Noto Sans KR', 'SUIT-Regular', sans-serif; 
    --color-a: #3498db;
    --color-g: #313131;
    --color-gg: #ccc;
    --color-w: #f3f3f3;
    --color-b: #090909;
    --color-bb: #000;
    --max-width: 1440px;
    --size-a:0.75rem;
    --size-ca:calc(1rem + 0.25vw);
    --size-cb:calc(0.75rem + 0.25vw);
}